[
    (
        polish_letter_small: "a",
        polish_letter_capital: "A",
        polish_word: "arbuz",
        sound: "audio/words/arbuz.wav",
    ),
    (
        polish_letter_small: "ą",
        polish_letter_capital: "Ą",
        polish_word: "mąka",
        sound: "audio/words/maka.wav",
    ),
    (
        polish_letter_small: "b",
        polish_letter_capital: "B",
        polish_word: "balon",
        sound: "audio/words/balon.wav",
    ),
    (
        polish_letter_small: "c",
        polish_letter_capital: "C",
        polish_word: "cytryna",
        sound: "audio/words/cytryna.wav",
    ),
    (
        polish_letter_small: "ch",
        polish_letter_capital: "Ch",
        polish_word: "chleb",
        sound: "audio/words/chleb.wav",
    ),
    (
        polish_letter_small: "cz",
        polish_letter_capital: "Cz",
        polish_word: "czapka",
        sound: "audio/words/czapka.wav",
    ),
    (
        polish_letter_small: "ci",
        polish_letter_capital: "Ci",
        polish_word: "ciastko",
        sound: "audio/words/ciastko.wav",
    ),
    (
        polish_letter_small: "ć",
        polish_letter_capital: "Ć",
        polish_word: "ćma",
        sound: "audio/words/cma.wav",
    ),
    (
        polish_letter_small: "d",
        polish_letter_capital: "D",
        polish_word: "dom",
        sound: "audio/words/dom.wav",
    ),
    (
        polish_letter_small: "dz",
        polish_letter_capital: "Dz",
        polish_word: "dzwon",
        sound: "audio/words/dzwon.wav",
    ),
    (
        polish_letter_small: "dzi",
        polish_letter_capital: "Dzi",
        polish_word: "dziadek",
        sound: "audio/words/dziadek.wav",
    ),
    (
        polish_letter_small: "dź",
        polish_letter_capital: "Dź",
        polish_word: "dźwięk",
        sound: "audio/words/dzwiek.wav",
    ),
    (
        polish_letter_small: "dż",
        polish_letter_capital: "Dż",
        polish_word: "dżem",
        sound: "audio/words/dzem.wav",
    ),
    (
        polish_letter_small: "e",
        polish_letter_capital: "E",
        polish_word: "ekran",
        sound: "audio/words/ekran.wav",
    ),
    (
        polish_letter_small: "ę",
        polish_letter_capital: "Ę",
        polish_word: "gęś",
        sound: "audio/words/ges.wav",
    ),
    (
        polish_letter_small: "f",
        polish_letter_capital: "F",
        polish_word: "farba",
        sound: "audio/words/farba.wav",
    ),
    (
        polish_letter_small: "g",
        polish_letter_capital: "G",
        polish_word: "góra",
        sound: "audio/words/gora.wav",
    ),
    (
        polish_letter_small: "h",
        polish_letter_capital: "H",
        polish_word: "herbata",
        sound: "audio/words/herbata.wav",
    ),
    (
        polish_letter_small: "i",
        polish_letter_capital: "I",
        polish_word: "igła",
        sound: "audio/words/igla.wav",
    ),
    (
        polish_letter_small: "j",
        polish_letter_capital: "J",
        polish_word: "jajko",
        sound: "audio/words/jajko.wav",
    ),
    (
        polish_letter_small: "k",
        polish_letter_capital: "K",
        polish_word: "kot",
        sound: "audio/words/kot.wav",
    ),
    (
        polish_letter_small: "l",
        polish_letter_capital: "L",
        polish_word: "lód",
        sound: "audio/words/lod.wav",
    ),
    (
        polish_letter_small: "ł",
        polish_letter_capital: "Ł",
        polish_word: "łódka",
        sound: "audio/words/lodka.wav",
    ),
    (
        polish_letter_small: "m",
        polish_letter_capital: "M",
        polish_word: "mama",
        sound: "audio/words/mama.wav",
    ),
    (
        polish_letter_small: "n",
        polish_letter_capital: "N",
        polish_word: "nos",
        sound: "audio/words/nos.wav",
    ),
    (
        polish_letter_small: "ni",
        polish_letter_capital: "Ni",
        polish_word: "niebo",
        sound: "audio/words/niebo.wav",
    ),
    (
        polish_letter_small: "ń",
        polish_letter_capital: "Ń",
        polish_word: "koń",
        sound: "audio/words/kon.wav",
    ),
    (
        polish_letter_small: "o",
        polish_letter_capital: "O",
        polish_word: "okno",
        sound: "audio/words/okno.wav",
    ),
    (
        polish_letter_small: "ó",
        polish_letter_capital: "Ó",
        polish_word: "ósemka",
        sound: "audio/words/osemka.wav",
    ),
    (
        polish_letter_small: "p",
        polish_letter_capital: "P",
        polish_word: "pies",
        sound: "audio/words/pies.wav",
    ),
    (
        polish_letter_small: "q",
        polish_letter_capital: "Q",
        polish_word: "quiz",
        sound: "audio/words/quiz.wav",
    ),
    (
        polish_letter_small: "r",
        polish_letter_capital: "R",
        polish_word: "ryba",
        sound: "audio/words/ryba.wav",
    ),
    (
        polish_letter_small: "rz",
        polish_letter_capital: "Rz",
        polish_word: "rzeka",
        sound: "audio/words/rzeka.wav",
    ),
    (
        polish_letter_small: "s",
        polish_letter_capital: "S",
        polish_word: "słońce",
        sound: "audio/words/slonce.wav",
    ),
    (
        polish_letter_small: "sz",
        polish_letter_capital: "Sz",
        polish_word: "szafa",
        sound: "audio/words/szafa.wav",
    ),
    (
        polish_letter_small: "si",
        polish_letter_capital: "Si",
        polish_word: "siedem",
        sound: "audio/words/siedem.wav",
    ),
    (
        polish_letter_small: "ś",
        polish_letter_capital: "Ś",
        polish_word: "ślimak",
        sound: "audio/words/slimak.wav",
    ),
    (
        polish_letter_small: "t",
        polish_letter_capital: "T",
        polish_word: "torba",
        sound: "audio/words/torba.wav",
    ),
    (
        polish_letter_small: "u",
        polish_letter_capital: "U",
        polish_word: "ucho",
        sound: "audio/words/ucho.wav",
    ),
    (
        polish_letter_small: "v",
        polish_letter_capital: "V",
        polish_word: "van",
        sound: "audio/words/van.wav",
    ),
    (
        polish_letter_small: "w",
        polish_letter_capital: "W",
        polish_word: "woda",
        sound: "audio/words/woda.wav",
    ),
    (
        polish_letter_small: "x",
        polish_letter_capital: "X",
        polish_word: "xero",
        sound: "audio/words/xero.wav",
    ),
    (
        polish_letter_small: "y",
        polish_letter_capital: "Y",
        polish_word: "yeti",
        sound: "audio/words/yeti.wav",
    ),
    (
        polish_letter_small: "z",
        polish_letter_capital: "Z",
        polish_word: "zegar",
        sound: "audio/words/zegar.wav",
    ),
    (
        polish_letter_small: "zi",
        polish_letter_capital: "Zi",
        polish_word: "ziemniak",
        sound: "audio/words/ziemniak.wav",
    ),
    (
        polish_letter_small: "ź",
        polish_letter_capital: "Ź",
        polish_word: "źrebię",
        sound: "audio/words/zrebie.wav",
    ),
    (
        polish_letter_small: "ż",
        polish_letter_capital: "Ż",
        polish_word: "żaba",
        sound: "audio/words/zaba.wav",
    )
]
